{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <h1>Delete car</h1>
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> You are about to <b>delete</b> this car. This action cannot be undone.
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">
            Delete
        </button>
        <a href="{% url 'taxi:car-detail' pk=object.pk %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>
{% endblock %}
